@import "./util.scss";

#main-content {
  width: 100vw;
  flex: 0 0 70%;
  @include Container;
  margin-top: 30px;
  border: 1px solid blue;
}

.content-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  width: 100%;
  height: 100%;
}

#left-main-content {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  gap: 40px;
  padding: 0 40px;
  border: 1px solid green;
}

#right-main-content {

}