.stepProgressWrapper {
  h3 {
    font-size: 2rem;
  }
}

.stepGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-top: 40px;
}

.stepItems {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
}

.stepGroupLine {
  height: 2px;
  width: 80px;
  background-color: gray;
}

.stepIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 10px;
  border: 1px solid #5a5a5a;
  border-radius: 90%;
  text-align: center;
}

.checked {
  background-color: #333333;
  color: #fff;
  border: none;
}
