#step-progress-wrapper {
  h3 {
    font-size: 2rem;
  }
}

.step-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-top: 40px;
}

.step-items {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
}

.step-group-line {
  height: 2px;
  width: 80px;
  background-color: gray;
}

.step-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 10px;
  border: 1px solid #5a5a5a;
  border-radius: 90%;
  text-align: center;
}